JobTrackerReferral2dayreminderflow_20240214064544/Microsoft.Flow/flows/1924b242-74ef-4ad7-9dd3-3a92d4d8b188/definition.json
{"name":"d868129a-4072-4a08-bd0e-98cc76872e80","id":"/providers/Microsoft.Flow/flows/d868129a-4072-4a08-bd0e-98cc76872e80","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Send Reminder - Referral 2 days done","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"0a7223fd-a9ac-493f-8754-92315a4f0135","type":"User","tenantId":"da90653e-1e02-4208-b68a-6224891bea63"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2024-02-14T02:05:09.3081123Z","connectionKeySavedTimeKey":"2024-02-14T02:05:09.3081123Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"Run_everday_at_9am_CST":{"recurrence":{"interval":1,"frequency":"Day","timeZone":"Central Standard Time","schedule":{"hours":["9"]}},"type":"Recurrence"}},"actions":{"Get_rows_of_the_Excel_Sheet":{"runAfter":{},"metadata":{"1HSYtUM9JbQBiW2GkmIPVERmayVxW5-ygGly3-aOw_NI":"/Job Tracker"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"1HSYtUM9JbQBiW2GkmIPVERmayVxW5-ygGly3-aOw_NI","table":"1957491483"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_googlesheet","connectionName":"shared_googlesheet","operationId":"GetItems"},"authentication":"@parameters('$authentication')"}},"For_each_1":{"foreach":"@outputs('Get_rows_of_the_Excel_Sheet')?['body/value']","actions":{"Check_if_2_days_done_and_Status_is_Pending":{"actions":{"Send_Reminder_Email_with_details":{"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"waghelamayur29@gmail.com","emailMessage/Subject":"2 Day wait for Referral Done - @{items('For_each_1')?['Company_x0020_list']}","emailMessage/Body":"<p>Due passed for the company @{items('For_each_1')?['Company_x0020_list']}</p><br><p>Link for the role : @{items('For_each_1')?['Link']}</p><br><p>Job Title: @{items('For_each_1')?['Job_x0020_ID']}</p>"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_gmail","connectionName":"shared_gmail","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}},"Updates_added_in_the_sheet":{"runAfter":{"Send_Reminder_Email_with_details":["Succeeded"]},"metadata":{"1HSYtUM9JbQBiW2GkmIPVERmayVxW5-ygGly3-aOw_NI":"/Job Tracker"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"1HSYtUM9JbQBiW2GkmIPVERmayVxW5-ygGly3-aOw_NI","table":"1957491483","id":"@items('For_each_1')?['__PowerAppsId__']","item/Update":"Reminder Mail sent at @{addDays(items('For_each_1')?['Date'],2,'M/d/yyyy')}"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_googlesheet","connectionName":"shared_googlesheet","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}}},"else":{"actions":{}},"expression":{"and":[{"equals":["@addDays(items('For_each_1')?['Date'],2,'M/d/yyyy')","@formatDateTime(utcNow(),'M/d/yyyy')"]},{"equals":["@items('For_each_1')?['Status']","PENDING"]}]},"type":"If"}},"runAfter":{"Get_rows_of_the_Excel_Sheet":["Succeeded"]},"type":"Foreach"}},"outputs":{}},"connectionReferences":{"shared_googlesheet":{"connectionName":"shared-googlesheet-dc3ebc57-c09d-405d-ac35-8898a6954ca9","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_googlesheet","tier":"NotSpecified"},"shared_gmail":{"connectionName":"bbacae0015f24043b04d44608c1c9111","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_gmail","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}